.authors{
    padding: 128px 0px 0px;
    .title{
        padding-bottom: 48px;
        text-align: center;
    }
        .authors_lists{
            display: flex;
            text-align: center;
            justify-content: space-between;
            .authors_list{
                width: 22%;
                padding: 40px 20px;
                background: #F4F4F4;
                transition: 0.3s;
                &:hover{
                    cursor: pointer;
                    background:#FBF6EA;
                    transition: 0.3s;
                }
                .authors_list-img{
                    padding-bottom: 20px;
                }
                .font_text{
                    font-size: 14px;
                    line-height: 20px;
                    padding-bottom: 20px;
                }
                .author-img{
                    padding: 9px;
                }
                
            }
            
        }
    
}