.feature_content{
    padding: 96px 0px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    .feature_info{
        color: #6D6E76;
        .feature_sub-title{
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            opacity: 0.6;
        }
        .feature_title{
            font-family: 'Sen', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
        }
    }
}