.font_text{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #6D6E76;
}
.font_title{
    font-family: 'Sen', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    color: #232536;
}
.font_subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #232536;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
}
.title_small {
    
    line-height: 40px;
    letter-spacing: -1px;
}